
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.display-flex{
    display: flex;  
}

.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}

.text-primary{
    color: #FF900E;
}   

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color:white;
    border: none;
    padding: 20px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
}
main{
    max-width: 14490px;
    margin: 0 auto;
}
main>section{
   margin-top: 130px;
   padding: 0 130px;
}

.section-title{
    
    font-size: 2.8rem;
    font-weight: 700;
    
}


.navbar{
    justify-content: space-between;
    align-items: center;
    
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
   
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 400;
    font-size: 4rem;
}

.banner-img{
    width: 100%;
}

.teams{
  align-items: center;
  padding: 0 130px;
 
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}


#quick-list{
    font-weight: 500;
}

.fact-card{
    border: 1px solid #FF900E;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
   

}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px ;
    margin-bottom: 10px ;
   
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 50px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
}

.fact-description{
    max-width: 540px;

}

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter:grayscale(100%)
}


.copyright{
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    padding: 20px 0;
    
}

@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
        gap: 20px;
    }
    .team-img-container,
    .facts-container{
    
    grid-template-columns: repeat(1, 1fr);
}
.facts-container{
    justify-items: center;
    gap: 25px  ;
}

  .sponsor-companies{
    justify-items: center;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
   .our-features{
    margin-left: 20px;
    
    }


}

@media screen and (min-width: 577px) and (max-width: 992px) {
   .teams {
        flex-direction: column;
        gap: 20px;
    }
    .our-features{
        margin: 50px auto;
}

.sponsor-companies,.facts-container{
    justify-items: center;
    gap: 30px;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}